<h1 style="color: red; font-weight: bold">Mi primera aplicacion Angular</h1>
<h1 class="azul">Mi primera aplicacion Angular</h1>
<p>¡¡¡¡Hola!!! Soy Jose Luis</p>

{{ title }}

<h3>{{ name }}</h3>

<p>{{ getEdad() >= 18 ? "Es mayour de edad" : "Es menor de edad" }}</p>

<app-user-profile></app-user-profile>
<p [innerHTML]="name"></p>
<img [src]="imgURL" alt="" />
<p [class]="clase">{{ name }}</p>

checkbox:<input type="checkbox" [checked]="marcado" />
<br />
<input type="text" [value]="name" [disabled]="deshabilitado" />
<br /><br />
Datos de la asignatura.
<div>nombre:{{ asignatura.nombre }}</div>
<div>codigo:{{ asignatura.codigo }}</div>

<app-alumno></app-alumno>
<br />
<button (click)="nombreCompanero()">Pulsa</button>

<input type="text" value="{{ companero }}" />

<br />
<input type="text" (keyup)="mostrar($event)" />

<p>{{ key }}</p>
<br />

¿Marcado?
<input type="checkbox" (change)="mostrarMarcado($event)" />
<p>{{ fraseCheck }}</p>
<br /><br />
Two Binding
<input type="text" [(ngModel)]="name" />
<p>El nombre es: {{ name }}</p>

<br />
<input type="text" [(ngModel)]="texto1" (keyup)="cambiarM($event)" />
<input type="text" [(ngModel)]="texto2" (keyup)="cambniarm($event)" />

<br />
<table>
  <tr>
    <input
      type="checkbox"
      [(ngModel)]="cambioColor"
      (change)="cambioColorFun($event)"
    />
  </tr>
  <tr>
    <div class="fondo">Hola</div>
  </tr>
</table>
<app-datos-libro></app-datos-libro>
