<h1>{{ titulo }}</h1>
<p>{{ nombre }}</p>
<p>{{ apellido }}</p>
<p>{{ edad }}</p>
<p>{{ dni }}</p>
<p>{{ multi >= 18 ? "Es mayour de edad" : "Es menor de edad" }}</p>

Introducir DNI: <input type="text" #nuevoDNI (keyup)="(0)" />
<div>DNI: {{ nuevoDNI.value }}</div>

Menor:
<input type="checkbox" [checked]="edad <= 18" />
<br />
Pulsar:
<input type="checkbox" [checked]="check2Marcardo" (click)="mostrarMensaje()" />
{{ texto }}
<br /><br />
<label for="radi">H</label>
<input type="radio" name="radi" (click)="marcado($event)" value="H" />

<label for="radi">M</label>
<input type="radio" name="radi" (click)="marcado($event)" value="M" />
